@model ListOfTasks

@{
    ViewBag.Title = "Search Tasks";
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
    var selectedProperty = Context.Request.Query["property"].FirstOrDefault() ?? TaskProperty.Title.ToString();
    string? query = Context.Request.Query["query"].ToString();
}

<h2>Search</h2>

<form asp-action="SearchTasks" asp-controller="Tasks" method="get" class="input-group mb-3">
    <input type="hidden" name="property" id="searchProperty" value="@selectedProperty" />

    <div class="dropdown me-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="propertyDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            @selectedProperty
        </button>
        <ul class="dropdown-menu" aria-labelledby="propertyDropdown">
            <li><button class="dropdown-item" type="button" data-value="@TaskProperty.Title.ToString()">Title</button></li>
            <li><button class="dropdown-item" type="button" data-value="@TaskProperty.DueDate.ToString()">Due Date</button></li>
            <li><button class="dropdown-item" type="button" data-value="@TaskProperty.CreationDate.ToString()">Creation Date</button></li>
        </ul>
    </div>

    <input type="text" name="query" class="form-control me-2" value="@query" placeholder="Type to search tasks..." aria-label="Search tasks" />

    <button class="btn bg-transparent text-secondary" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
    </button>
</form>

@if (Model.Tasks.Count > 0)
{
    @await Html.PartialAsync("_TasksPartial", Model)
}
